$background-tertiary: #202225;
$background-primary: #36393f;
$background-secondary: #2f3136;
$background-secondary-alt: #292b2f;
$background-accent: #4f545c;
$background-floating: #18191c;
$background-mobile-primary: #36393f;
$background-mobile-secondary: #2f3136;
// BODY
&{
	background: $background-tertiary;
	color: blue;
}

